/* Geral */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color:  #a7d8f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000060;
    color: white;
    padding: 10px 20px;
}

header .logo{
    width: 70px;
}

header .nav-links {
    display: flex;
    gap: 20px;
}
header .nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #0059e6;
    border-radius: 10px;
    transition: background-color 0.8s, color 0.8s;
}

header .nav-links a:hover {
    background-color: #ffffff;
    color:#0059e6;
    padding: 9px 20px;
    border-radius: 10px;
}


.container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #a7d8f0;
}

/* Barra lateral */
.sidebar {
    width: 250px;
    background-color: #000097;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li button {
    width: 100%;
    padding: 10px;
    background-color: #000097;
    color: #fff;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li button:hover {
    background-color: #0059e6;
}

/* Conteúdo principal */
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f3f4f6;
    overflow-y: auto;
    font-size: 20px;
}

.perfil-info {
    margin-top: 15px;
}

#logout button{
    margin: auto;
    padding: 15px 40px 15px 40px;
    font-size: 15px;
}
.content button{
    border: 0;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    background-color: #0059e6;
    color: white;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
}

.content input{
    border: 0;
    padding: 6px;
    border-radius: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
}


.content p{
    margin-bottom: 40px;
    font-size: 15px;
    margin-top: 0;
}

.content label{
    font-weight: bold;
}
.section {
    display: none;
}

.section.active {
    display: block;
}

.hidden {
    display: none;
}

#sair{
    background-color: rgba(255, 0, 0, 0.596);
}

#sair:hover{
    background-color: rgba(165, 0, 0, 0.521);
}
