body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%; /* Garante que o body ocupe 100% da altura */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000060;
    color: white;
    padding: 10px 20px;
}

header .logo{
    width: 70px;
}

header .nav-links {
    display: flex;
    gap: 20px;
}

header .nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

header .nav-links a:hover {
    background-color: #0059e6;
    border-radius: 5px;
}

.notifications-dropdown {
    display: none;
    position: absolute;
    top: 70px;
    right: 100px;
    background-color:#ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: auto;
    z-index: 2;  
    border-radius: 10px;
    color: #000060;

}

.notifications-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notifications-dropdown ul li {
    padding: 5px 0;
}

.background-container {
    position: relative;  
    height: 200px;                   
    width: 100%;                   
    background-color: #f0f0f0;     
    background-image: url('../assets/backfoto.jpg');
    background-size: cover;       
    background-position: center center; 
    background-repeat: no-repeat;    
}

.user-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0059e6;
    max-height: 30px;
    position: relative;
    height: 100vh;
    padding: 20px;
    overflow: hidden;

}

.profile {
    display: flex;
    align-items: center;
}

.profile-photo-container {
    position: relative;
}

.profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.profile img:hover {
    opacity: 0.8;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    flex-wrap: wrap;
}

.buttons button {
    width: 20vh;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #000060;
    border: none;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 35px;
    transition: height 0.3s;
    margin-bottom: 10px;
    margin-top: 100%;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.buttons button.selected {
    background-color: white;
    color: #000060;
}

button:focus {
    outline: none;
}

.section {
    display: none;
    max-height: 0;
    padding: 0 20px;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.section.active {
    display: block;
    max-height: 100%;
    padding: 20px;
}


/* section 1 */

#section-1{
    background-color: #a7d8f0;
}
.weekly-count, .annual-calendar {
    margin: 20px 0;
}

.weekly-count{
    text-align: center;
}
.week-buttons {
    display: grid;
    grid-template-columns: repeat(7, 0fr);
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.week-day-btn, .day {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: #000060 solid 2px;
    background-color: #0059e6;
    color: white;
    padding: 30px;
}

.week-day-btn.good, .day.good {
    background-color: rgb(96, 255, 96);
    color: black;
}

.week-day-btn.bad, .day.bad {
    background-color: rgb(255, 86, 86);
    color: white;
}

.annual-calendar {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: #0059e6;
    padding: 20px;
    border-radius: 20px;
    color: white;
}

.calendar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    align-items: center;
    justify-content: center ;
    max-width: auto;
}

.calendar-header {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 0fr);
    font-weight: bold;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.calendar-days {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(7, 0fr);
    gap: 10px;
    color: black;
}

.empty-day {
    visibility: hidden;
}

.day {
    background-color: #a7d8f0;
    color: black
}

.btn-calendar{
    background-color: white;
    margin: 10px;
    padding: 5px;
    border: #000060 solid 1px;
    border-radius: 10px;
}